<div class = "jumbotron center">
<h1>Ruby on Rails Home Page - Pavan </h1>
<p> 
    <%= link_to "Login", "#", class: "btn btn-default" %>
   <%= link_to "Sign up", "#", class: "btn btn-primary" %>

    </p>
</div>

